@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/ionicons.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/navigation.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Chelsea+Market" rel="stylesheet">

</head>
<body>
    <!-- The overlay -->
    <div id="mySidenav" class="sidenav">
        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <!-- Overlay content -->
        <ul class="overlay-content">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Main Feed", "Index", "MainFeeds")</li>
            <li>@Html.ActionLink("Score Board", "ScoreBoard", "Providers")</li>
            <li>@Html.ActionLink("Food Donors", "ProviderList", "Providers")</li>
            <li>@Html.ActionLink("Charities", "CharityList", "CharityProfiles")</li>
            <li>@Html.ActionLink("Transport Assistance", "TransportList", "Transports")</li>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                }
            }
            else
            {
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
        </ul>
    </div>
    <!-- Use any element to open/show the overlay navigation menu -->
    <div class="navbar-brand" onclick="openNav()" id="slide">
        <p>Got Food Connections</p>
        @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    </div>
    @*<div>
            @Html.Partial("_LoginPartial")
        </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
