@model GotFoodConnections.Models.Transport

@{
    ViewBag.Title = "Details";
}

<div id="TransportImage">
    <img src="~/Images/Food-Transport-Image.jpg" />
</div>
<div id="PostHeader">
</div>
<div id="TransportOverlay">
</div>
<div class="row profilePage">
    <div class="col-xs-12 col-md-6 col-md-offset-5 profileInfo">


        <h2 id="provName">@Html.DisplayFor(model => model.OrganizationName)</h2>


        <div>

            <hr />
            @*<img src="~/Images/bus-1448914.jpg" id="transport" />*@
            <dl class="dl-horizontal">
                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ContactName)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ContactName)
                </dd>
                
                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ContactPosition)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ContactPosition)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ContactPhone)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ContactPhone)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ContactEmail)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ContactEmail)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.AdditionalContactInfo)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.AdditionalContactInfo)
                </dd>
                <dt id="provType">
                    Address
                </dt>


                <dd id="provAns">
                    @Html.DisplayFor(model => model.StreetNumber) @Html.DisplayFor(model => model.StreetName) <br />
                    @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) <br />
                    @Html.DisplayFor(model => model.Zip)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.TransportationTypes)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.TransportationTypes)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.FoodTypes)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.FoodTypes)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.GeneralAvailability)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.GeneralAvailability)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.Website)
                </dt>

                <dd id="provAns">

                    <a href="http://@Model.Website" target="_blank">@Model.Website</a>
                </dd>

            </dl>
        </div>
        <p>
            <div id="backBtnAgain">
                @Html.ActionLink("Back to List of Transports", "TransportList")
            </div>

</p>
        </div>
</div> 