@model GotFoodConnections.Models.TransportPost

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="TransportImage">
        <img src="~/Images/Food-Transport-Image.jpg" />
    </div>
    <div id="PostHeader">
    </div>
    <div id="TransportOverlay">
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-8 col-md-offset-2 chat" id="TransPost">
            <div class="container" id="post">
                <div class="col-md-10">
                    @Html.DropDownList("TransportID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TransportID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div id="TransportPost">
                <div id="Message">
                    <h4 id="MessageLabel">@Html.DisplayNameFor(model => model.Message)</h4>
                    <div id="MessageCreate">
                        @Html.TextAreaFor(model => model.Message, 2, 25, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="row2">
                    <div id="StartTimeCreate">
                        <h5 id="StartTimeLabel">@Html.DisplayNameFor(model => model.StartTimeAvailable)</h5>
                        <div id="StartTimeText">
                            <input type="datetime-local" name="StartTimeAvailable" id="timeSelector"/>
                            @Html.ValidationMessageFor(model => model.StartTimeAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="EndTimeCreate">
                        <h5 id="EndTimeLabel">@Html.DisplayNameFor(model => model.EndTimeAvailable)</h5>
                        <div id="EndTimeText">
                            <input type="datetime-local" name="EndTimeAvailable" id="timeSelector"/>
                            @Html.ValidationMessageFor(model => model.EndTimeAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="row1">
                    <div id="TransportCommentsCreate">
                        <h5 id="CommentsLabel">@Html.DisplayNameFor(model => model.Comments)</h5>
                        <div id="CommentsText">
                            @Html.TextAreaFor(model => model.Comments, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div id="CreateTransportTimestamp">
                    @Html.LabelFor(model => model.TimeStamp, htmlAttributes: new { @id = "CreateTimestampLabel" })
                    <div id="TransportTimestampCreate">
                        @Html.EditorFor(model => model.TimeStamp, new { htmlAttributes = new { @Value = DateTime.Now, @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.TimeStamp, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="CreateSubmit">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" id="CreatePost"/>
        </div>
    </div>
}

<div id="backToIndex">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
