@model IEnumerable<GotFoodConnections.Models.TransportPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Transport.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTimeAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTimeAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("Delete", "CharityPosts", new { id = item.TransportPostID }))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Transport.OrganizationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTimeAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTimeAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TransportPostID }) |
                    <input type="submit" value="Delete" onclick="return confirm('Are sure you want to delete this post?')" />
                </td>
            </tr>
        }
    }

</table>
