@model GotFoodConnections.Models.ProviderPost

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div id="ProviderImage">
        <img src="~/Images/Food-Table-Image.jpeg" />
    </div>
    <div id="PostHeader">
    </div>
        <div id="ProviderOverlay">
        </div>
        <h3 id="tabTitle">Food Available</h3>

        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 chat" id="ProvPost">
                <div class="container" id="post">
                    <div class="col-md-10">
                        @Html.DropDownList("ProviderID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ProviderID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div id="ProviderPost">
                    <div id="FoodType">
                        <h4 id="FoodTypeLabel">@Html.DisplayNameFor(model => model.FoodType)</h4>
                        <div id="FoodTypeCreate">
                            @Html.TextAreaFor(model => model.FoodType, 2, 25, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FoodType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="row3">
                        <div id="PeopleFedCreate">
                            <h5 id="PeopleFedLabel">@Html.DisplayNameFor(model => model.PeopleFed)</h5>
                            <div id="PeopleFedText">
                                @Html.EditorFor(model => model.PeopleFed, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PeopleFed, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="AllergensCreate">
                            <h5 id="AllergensLabel">@Html.DisplayNameFor(model => model.PotentialAllergens)</h5>
                            <div id="AllergensText">
                                @Html.EditorFor(model => model.PotentialAllergens, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PotentialAllergens, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="ExpirationDateCreate">
                            <h5 id="ExpirationLabel">@Html.DisplayNameFor(model => model.ExpirationDate)</h5>
                            <div id="ExpirationText">
                                <input type="datetime-local" name="ExpirationDate" id="timeSelector"/>
                                @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="row2">
                        <div id="CommentsCreate">
                            <h5 id="CommentsLabel">@Html.DisplayNameFor(model => model.Comments)</h5>
                            <div id="CommentsText">
                                @Html.TextAreaFor(model => model.Comments, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="SpecialTransportCreate">
                            <h5 id="SpecialTransportLabel">@Html.DisplayNameFor(model => model.SpecialTransport)</h5>
                            <div id="SpecialTransportText">
                                @Html.TextAreaFor(model => model.SpecialTransport, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SpecialTransport, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div id="CreateProviderTimestamp">
                        @Html.LabelFor(model => model.TimeStamp, htmlAttributes: new { @id = "CreateTimestampLabel" })
                        <div id="ProviderTimestampCreate">
                            @Html.EditorFor(model => model.TimeStamp, new { htmlAttributes = new { @Value = DateTime.Now, @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.TimeStamp, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" id="CreateSubmit">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="CreatePost"/>
            </div>
        </div>
}

<div id="backToIndex">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
