@model IEnumerable<GotFoodConnections.Models.ProviderPost>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<div id="ProviderImage">
    @if (Request.IsAuthenticated)
            {

                if (User.IsInRole("Food Donor"))
                {
            @Html.ActionLink("Create Post", "Create", "ProviderPosts", null, new { id = "CreatePost" });
                }
                else if (User.IsInRole("Charity"))
                {
            @Html.ActionLink("Create Post", "Create", "CharityPosts", null, new { id = "CreatePost" });
                }
                else if (User.IsInRole("Transportation Assistance"))
                {
            @Html.ActionLink("Create Post", "Create", "TransportPosts", null, new { id = "CreatePost" });
                }

            }
    @foreach (var item in Model)
    {
        if (item != null)
        {
            <div class="col-xs-12 col-md-8 col-md-offset-2 chat" id="ProvIndex">
                <div id="ProviderIndex">
                    <div id="proname">
                        <h5 id="ProvNameLabel"> @Html.DisplayNameFor(model => model.Provider.OrgName)</h5>
                        <p id="ProvNameText">@item.Provider.OrgName</p>
                    </div>
                    <div id="ProvTime">
                        <h5> @Html.DisplayNameFor(model => model.TimeStamp)</h5>
                        <p id="prov">@item.TimeStamp</p>
                    </div>
                    <div id="profood">
                        <h5 id="provfoodtype"> @Html.DisplayNameFor(model => model.FoodType)</h5>
                        <p>@item.FoodType</p>
                    </div>
                    <div id="propeople">
                        <h5 id="provpeoplefed"> @Html.DisplayNameFor(model => model.PeopleFed)</h5>
                        <p>@item.PeopleFed</p>
                    </div>
                    <div id="proallergens">
                        <h5 id="provallergens"> @Html.DisplayNameFor(model => model.PotentialAllergens) </h5>
                        <p>@item.PotentialAllergens</p>
                    </div>
                    <div id="proexpiry">
                        <h5 id="provexpiration"> @Html.DisplayNameFor(model => model.ExpirationDate) </h5>
                        <p>@item.ExpirationDate</p>
                    </div>
                    <div id="protransport">
                        <h5 id="providertransport"> @Html.DisplayNameFor(model => model.SpecialTransport) </h5>
                        <p>@item.SpecialTransport</p>
                    </div>
                    <div id="procomm">
                        <h5 id="procomments"> @Html.DisplayNameFor(model => model.Comments) </h5>
                        <p>@item.Comments</p>
                    </div>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ProviderPosts })*@
                    @using (Html.BeginForm("Delete", "ProviderPosts", new { id = item.ProviderPosts }))
                    {
                        <input type="submit" id="profileDelete" value="Delete" onclick="return confirm('Are sure you want to delete this post?')" />
                    }
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ProviderPosts })*@

                </div>
            </div>

        }
    }
</div>


@*@Html.DisplayFor(modelItem => item.Provider.OrgName)*@

@*@Html.DisplayFor(modelItem => item.TimeStamp)

    @Html.DisplayFor(modelItem => item.FoodType)

    @Html.DisplayFor(modelItem => item.PeopleFed)*@

@*@Html.DisplayFor(modelItem => item.PotentialAllergens)*@

@*@Html.DisplayFor(modelItem => item.ExpirationDate)

    @Html.DisplayFor(modelItem => item.SpecialTransport)

    @Html.DisplayFor(modelItem => item.Comments)*@


@*@Html.DisplayNameFor(model => model.TimeStamp)

    @Html.DisplayNameFor(model => model.FoodType)

    @Html.DisplayNameFor(model => model.PeopleFed)

    @Html.DisplayNameFor(model => model.PotentialAllergens)

    @Html.DisplayNameFor(model => model.ExpirationDate)

    @Html.DisplayNameFor(model => model.SpecialTransport)

    @Html.DisplayNameFor(model => model.Comments)*@