@model GotFoodConnections.Models.Provider

@{
    ViewBag.Title = "Details";
}

<div id="ProviderImage">
    <img src="~/Images/Food-Table-Image.jpeg" />
</div>
<div id="PostHeader">

</div>
<div id="ProviderOverlay">
</div>

<div class="row profilePage">
    <div class="col-xs-12 col-md-6 col-md-offset-5 profileInfo">


        <h2 id="provName">@Html.DisplayFor(model => model.OrgName)</h2>

        <div>
            
            <hr />
            @*<img src="~/Images/Food_Donor_Image.png" id="provider" />*@
            <dl class="dl-horizontal">
                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ProviderType.Type)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ProviderType.Type)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ContactName)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ContactName)
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ContactEmail)
                </dt>

                <dd id="provAns">

                    <a href="http://@Model.ContactEmail" target="_blank">@Model.ContactEmail</a>

                    @*@Html.DisplayFor(model => model.ContactEmail)*@
                </dd>

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.ContactPhone)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ContactPhone)
                </dd>

                <dt id="provType">
                    Address
                   
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.StreetNumber) @Html.DisplayFor(model => model.StreetName) <br/>
                    @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) <br/>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

               
                <dt id="provType">
                    @Html.DisplayNameFor(model => model.Website)
                </dt>

                <dd id="provAns">
                    <a href="http://@Model.Website" target="_blank">@Model.Website</a>
                </dd>
                @*<dd>
                        @Html.DisplayFor(model => model.Website)
                    </dd>*@

                <dt id="provType">
                    @Html.DisplayNameFor(model => model.Foods)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.Foods)
                </dd>

                <dt id ="provType">
                    @Html.DisplayNameFor(model => model.ProvideTransport)
                </dt>

                <dd id="provAns">
                    @Html.DisplayFor(model => model.ProvideTransport)

                </dd>

          
            </dl>
        </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProviderID }) |*@
            @*@Html.ActionLink("Back to List", "Index") |*@

            @if (Model.User.UserName == User.Identity.Name)
            {
                @Html.ActionLink("Donate", "Donate", new { id = Model.ProviderID }, new { @class = "donateBtn" })
            }

            @if (User.IsInRole("Charity") || User.IsInRole("Transportation Assistance"))
            {
                @Html.ActionLink("Recommend this Provider", "Recommend", new { id = Model.ProviderID }, new { @class = "donateBtn" })
            }
            <div id="backBtn">
                @Html.ActionLink("Back to List Of Food Donors", "ProviderList")
            </div>
        </p>
    </div>
</div>