@model IEnumerable<GotFoodConnections.Models.Provider>

@{
    ViewBag.Title = "Index";
}

<body class="scoreBody">
    <h2 id="scoreHead">Your Organizations</h2>

    <p id="creating">
        @Html.ActionLink("Create A Profile", "Create")
    </p>
    <div class="row orgRow">

        @foreach (var item in Model)
        {
            <div class="col-xs-12 col-md-6">
                <div class="thumbnail orgThumb">
                    <div class="caption">
                        <h3 id="orgName">@Html.DisplayFor(modelItem => item.OrgName)</h3>
                        <p id="orgInfo">@Html.DisplayNameFor(model => model.ProviderType.Type): @Html.DisplayFor(modelItem => item.ProviderType.Type)</p>
                        <p id="orgInfo">@Html.DisplayNameFor(model => model.ContactName): @Html.DisplayFor(modelItem => item.ContactName)</p>
                        <p id="orgInfo">@Html.DisplayNameFor(model => model.ContactEmail): @Html.DisplayFor(modelItem => item.ContactEmail)</p>
                        <p id="orgInfo">@Html.DisplayNameFor(model => model.ContactPhone): @Html.DisplayFor(modelItem => item.ContactPhone)</p>
                        <p id="orgInfo">
                            Address: <br />
                            @Html.DisplayFor(modelItem => item.StreetNumber) @Html.DisplayFor(modelItem => item.StreetName) <br />
                            @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State) <br />
                            @Html.DisplayFor(modelItem => item.ZipCode)
                        </p>
                        <p id="orgInfo">@Html.DisplayNameFor(model => model.Website): <a href="http://@item.Website" target="_blank">@item.Website</a></p>
                        <p id="orgInfo"> @Html.DisplayNameFor(model => model.Foods) @Html.DisplayFor(modelItem => item.Foods)</p>
                        <p id="orgInfo">@Html.DisplayNameFor(model => model.ProvideTransport): @Html.DisplayFor(modelItem => item.ProvideTransport)</p>
                        <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProviderID }, new { @class = "aBtn" })

                        @Html.ActionLink("Delete", "Delete", new { id = item.ProviderID }, new { @class = "aBtn" })

                        @Html.ActionLink("Profile", "Details", new { id = item.ProviderID }, new { @class = "aBtn" })

                        @if (item.User.UserName == User.Identity.Name)
                        {
                            @Html.ActionLink("Donate", "Donate", new { id = item.ProviderID }, new { @class = "aBtn" })
                        }
                        </p>
                    </div>
                </div>
            </div>




        }
    </div>


</body>