@model IEnumerable<GotFoodConnections.Models.CharityPost>

@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
            {

                if (User.IsInRole("Food Donor"))
                {
        @Html.ActionLink("Create Post", "Create", "ProviderPosts", null, new { id = "CreatePost" });
                }
                else if (User.IsInRole("Charity"))
                {
        @Html.ActionLink("Create Post", "Create", "CharityPosts", null, new { id = "CreatePost" });
                }
                else if (User.IsInRole("Transportation Assistance"))
                {
        @Html.ActionLink("Create Post", "Create", "TransportPosts", null, new { id = "CreatePost" });
                }

            }

<div id="CharityImage">
    <img src="~/Images/Charity-Food-Image.jpg" />
</div>
<div id="PostHeader">
</div>
<div id="CharityOverlay">
</div>

<div class="row">
    @foreach (var item in Model)
            {
                if (item != null)
                {
                    <div class="col-xs-12 col-md-8 col-md-offset-2 chat" id="CharPost">
                        <div class="container" id="post">
                            <h2>@item.CharityProfile.CharityName</h2>

                        </div>
                        <div id="CharityPost">
                            <div id="FoodRequested">
                                <h4 id="FoodRequestedLabel">@Html.DisplayNameFor(model => model.FoodRequested)</h4>
                                <p id="FoodRequestedText">@item.FoodRequested</p>
                            </div>
                            <div id="row2">
                                <div id="PeopleToFeed">
                                    <h5 id="PeopleToFeedLabel">@Html.DisplayNameFor(model => model.PeopleToFeed)</h5>
                                    <p id="PeopleToFeedText">@item.PeopleToFeed</p>
                                </div>
                                <div id="DateRequested">
                                    <h5 id="DateRequestedLabel">@Html.DisplayNameFor(model => model.DateRequested)</h5>
                                    <p id="DateRequestedText">@item.DateRequested</p>
                                </div>
                            </div>
                            <div id="row2">
                                <div id="Comments">
                                    <h5 id="CommentsLabel">@Html.DisplayNameFor(model => model.Comments)</h5>
                                    <p id="CommentsText">@item.Comments</p>
                                </div>
                                <div id="WeightRequested">
                                    <h5 id="WeightRequestedLabel">@Html.DisplayNameFor(model => model.WeightRequested)</h5>
                                    <p id="WeightRequestedText">@item.WeightRequested</p>
                                </div>
                            </div>
                            <div id="CharityTimestamp">
                                @using (Html.BeginForm("Delete", "CharityPosts", new { id = item.CharityPostID }))
                                {
                                    <input id="delete" type="submit" value="Delete" onclick="return confirm('Are sure you want to delete this post?')" />
                                }
                                <p id="CharityTimestampLabel"><strong>@Html.DisplayNameFor(model => model.TimeStamp)</strong><span class="CharityPostText">@item.TimeStamp</span></p>
                            </div>
                            
                        </div>
                    </div>
        }
        else
        {
            <p>"There currently are no posts."</p>;
                }
            }

</div>

